:host {
  display: grid;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-block-size: 3rem;
  margin-block-end: 1rem;
}

header h1 {
  padding-top: .7em;
  font-size: clamp(1.6rem, 5vw, 2rem);
  font-weight: 700;
}

/* hamburguer */

.hamburger {
  --size: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  margin-inline-start: -1rem;
  block-size: var(--size);
  inline-size: var(--size);
  outline: none;
  transition: border-color 0.25s ease, background-color 0.25s ease;
}

.hamburger:hover {
  border-color: rgba(var(--rgb-secondary), 0.5);
}

.hamburger:focus {
  border-color: rgba(var(--rgb-secondary), 0.8);
  background: rgba(var(--rgb-secondary), 0.2);
}

.hamburger.focus {
  border-color: rgba(var(--rgb-secondary), 0.8);
  background: rgba(var(--rgb-secondary), 0.2);
}

.hamburger:hover svg > line {
  stroke: var(--color-secondary);
  stroke: rgba(var(--rgb-secondary), 1);
}

.hamburger:active {
  background: rgba(var(--rgb-secondary), 0.8);
}

.hamburger > svg {
  width: 100%;
}

.hamburger > svg > line {
  stroke: #e2e2e2;
  stroke: rgba(var(--rgb-primary), 1);
  stroke-width: 7px;
  transition: stroke 0.25s ease;
}

@media (min-width: 1200px) {
  #sidenav-button,
  #sidenav-close {
    display: none;
  }
}
