<app-header [title]="'Search Area'"></app-header>

<app-search-bar (hideClick)="showResults()"></app-search-bar>

<app-empty-search *ngIf="hideEmpty"></app-empty-search>

<div class="results-area" *ngIf="!hideEmpty" @classStagger>
  <div class="results-actions">
    <div>
      <button mat-stroked-button color="primary">Download</button>
    </div>
    <div>
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle
          value="left"
          aria-label="Text align left"
          (click)="changeView()"
        >
          <span><i class="fal fa-bars"></i></span>
        </mat-button-toggle>
        <mat-button-toggle
          value="center"
          aria-label="Text align center"
          (click)="changeView()"
        >
          <span><i class="fal fa-grip-horizontal"></i></span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="results" [ngClass]="isView ? 'card-view' : 'list-view'">
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
    <div class="results-card child">
      <div class="results-card-stack-tags">
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
        <div class="tags has-addons">
          <span class="tag">Package</span>
          <span class="tag is-primary">Bulma</span>
        </div>
      </div>
      <div class="results-card-stack-data">
        <div class="result-card-image">
          <img
            src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
            alt=""
          />
        </div>
        <div class="result-card-main-data">
          <div class="result-card-name">Rip Curl</div>
          <div class="result-card-vat">
            <a href="">12345678998</a>
          </div>
        </div>
      </div>
      <div class="results-card-stack-extra">
        <div class="results-extra-data-1">
          <p>Lorem ipsum dolor sit amet</p>
          <p>consectetur adipisicing elit</p>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
        <div class="results-extra-data-2">
          <p>Lorem ipsum dolor sit</p>
          <p>Lorem ipsum dolor sit ametadipisicing</p>
          <p>Lorem ipsum dolor adipisicing elit</p>
        </div>
      </div>
    </div>
  </div>
</div>
