<!-- <app-header [title]="'Welcome'"></app-header> -->
<div class="container">
  <app-header [title]="'Intro'"></app-header>
  <div class="intro-wrap" @introAnimation>
    <div class="image-container">
      <!-- <img src="../../assets/images/intro.jpg" alt="" srcset="" /> -->
    </div>
    <div class="intro-el-1">
      <div class="intro-el-container"></div>
      <div class="intro-el-border"></div>
      <div class="intro-el-text">Welcome to the</div>
    </div>
    <div class="intro-el-2">
      Doc Design System
    </div>
  </div>
</div>
