<ul id="accordion" class="accordion" >
  <li *ngFor="let menu of menus; let i = index" 
    [class.active]="menu.active && marked == -1">
    <a class="menu" (click)="toggle(i)" [routerLink]="menu.url" *ngIf="menu.mainLink">
      {{ menu.name }}
    </a>
    <div class="menu" (click)="toggle(i)" *ngIf="!menu.mainLink">
      {{ menu.name }}
    </div>
    <ul class="submenu" #submenu 
      [style.height.px]="menu.active ? submenu.scrollHeight : 0">
      <li *ngFor="let submenu of menu.submenu; let j= index" [ngClass]="marked === j ? 'active': 'not-marked'">
        <a [routerLink]="submenu.url" (click)="marked = j;" >{{ submenu.name }}</a>
      </li>
    </ul>
  </li>
</ul>

