.main-container {
  display: grid;
  grid: [stack] 1fr / -webkit-min-content [stack] 1fr;
  grid: [stack] 1fr / min-content [stack] 1fr;
  align-items: baseline;
  min-block-size: 100vh;
}

aside {
  min-width: 20rem;
}

main {
  padding: 0 1.5rem;
}

/* sidenav */

nav {
  padding-top: 34px;
  /* padding-top: 1.9em; */
}

#sidenav {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [nav] 2fr [escape] 1fr;
}

#sidenav-button,
#sidenav-close {
  user-select: none;
  touch-action: manipulation;
}


.app-name {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  color: rgba(var(--rgb-secondary) , .8);
  font-family: var(--alternative-font);
  font-weight: 700;
  letter-spacing: 1px;
}


/* intro */


.image-container {
  width: 80%;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* aside > div {
  outline-offset: -1px;
  outline: 1px solid transparent;
}

aside > div:focus {
  outline-color: #ff1492;
  outline-color: hsl(var(--rgb-secondary));
  transition: outline-color 0.25s ease;
} */

/* media queries */

@media (max-width: 1200px) {
  .main-container > aside,
  .main-container > main {
    grid-area: stack;
  }

  nav {
    background-color: #EEEEEE;
  }

  #sidenav {
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }

  #sidenav.is-open {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }
}

@media (min-width: 1200px) {
  #sidenav-close {
    display: none;
  }

  aside {
    position: sticky;
    top: 0;
  }

  #sidenav {
    grid-template-columns: 1fr;
  }
}


