.main-container {
  display: grid;
  grid: [stack] 1fr / -webkit-min-content [stack] 1fr;
  grid: [stack] 1fr / min-content [stack] 1fr;
  align-items: baseline;
  min-block-size: 100vh;
}

aside {
  min-width: 20rem;
}

/* sidenav */

nav {
  padding-top: 36px;
  /* padding-top: 1.9em; */
}

#sidenav {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: 0.6s;
  display: grid;
  grid-template-columns: [one] 2fr [two] 1fr;
}

#sidenav-button,
#sidenav-close {
  user-select: none;
  touch-action: manipulation;
}

.app-name {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgba(var(--rgb-secondary), 0.8);
  font-size: 1.2rem;
  font-family: var(--alternative-font);
  letter-spacing: 1px;
}

.app-name span:nth-child(1) {
  font-weight: 500;
}

.app-name span:nth-child(2) {
  font-weight: 700;
}

/* intro */

.image-container {
  width: 80%;
  margin: 0 auto;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.sidenav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--mobile-nav-bg);
}

.sidenav-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.theme-toggler {
  margin-bottom: 1.5em;
}

/* media queries */

@media (max-width: 1200px) {
  .main-container > aside,
  .main-container > main {
    grid-area: stack;
  }

  nav {
    background-color: var(--mobile-nav-bg);
  }

  #sidenav {
    position: sticky;
    top: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
    z-index: 1;
  }

  #sidenav.is-open {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }
}

@media (min-width: 1200px) {
  #sidenav-close {
    display: none;
  }

  aside {
    position: sticky;
    top: 0;
  }

  #sidenav {
    grid-template-columns: 1fr;
    height: 100vh;
  }

  .sidenav-wrap {
    background-color: transparent;
  }
}
