:host(.listed) .results-card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas:
    "area1 area2 area2 area2"
    "area3 area3 area3 area3";
  row-gap: 0.5em;
  padding: 1em 1.5em;
  animation: fadeIn ease 1s;
}

.results-card-stack-data {
  grid-area: area1;
}

.results-card-stack-extra {
  grid-area: area2;
}

.results-card-stack-tags {
  grid-area: area3;
}

:host(.listed) .results-card .results-card-stack-tags {
  display: flex;
  justify-content: flex-end;
}

:host(.listed) .results-card .results-card-stack-tags > div {
  margin-left: 1em;
}

:host(.listed) .results-card .results-card-stack-data {
  min-width: 350px;
  padding-bottom: 0;
}

:host(.listed) .results-card .results-card-stack-extra {
  order: 0;
  flex-direction: column;
  display: flex;
}

:host(.listed) .results-card .results-card-stack-extra > div {
  padding: 0 2em;
}

:host(.listed) .results-card .results-card-stack-extra .results-extra-data-2,
:host(.listed) .results-card .results-card-stack-extra .results-extra-data-3 {
  margin-top: 0;
  border-top: none;
  padding-top: 0;
}

:host(.listed) .results-card .result-card-name {
  padding: 0 0 0.5em;
}

.results-card {
  background-color: var(--card-bg);
  padding: 1em;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.results-card-stack-tags {
  display: flex;
  justify-content: space-between;
}

.results-card-stack-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em;
}

.result-card-main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-card-image {
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7em 0;
}

:host(.listed) .result-card-image {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2.5em 0 1em;
}

.result-card-name {
  padding: 0.7em 0;
  font-weight: 700;
}

.result-card-code a {
  color: rgba(var(--rgb-secondary), 1);
  text-decoration: none;
}

.result-card-status {
  padding-top: 0.7em;
}

.result-card-status .tag {
  margin-bottom: 0;
}

.result-card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.results-extra-data-1,
.results-extra-data-2,
.results-extra-data-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-extra-data-1 P:last-child,
.results-extra-data-2 P:last-child,
.results-extra-data-3 P:last-child {
  margin-bottom: 0;
}

:host(.listed) .results-extra-data-1 P,
:host(.listed) .results-extra-data-2 P,
:host(.listed) .results-extra-data-3 P {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(12vw - 50px);
  display: block;
}

:host(.listed) .result-card-main-data,
:host(.listed) .results-extra-data-1,
:host(.listed) .results-extra-data-2,
:host(.listed) .results-extra-data-3 {
  align-items: start;
}

.results-extra-data-2,
.results-extra-data-3 {
  margin-top: 1em;
  border-top: 1px solid rgba(var(--rgb-primary), 0.05);
  padding-top: 1em;
}

small {
  font-weight: 600;
}

.zip-code-data {
  display: flex;
  align-items: center;
}

.zip-code-data p {
  margin-bottom: 0;
}

.zip-code-data p:nth-child(1) {
  padding-right: 0.7em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 48em) {
  .results-card {
    padding: 1.5em;
  }

  :host(.listed) .results-card {
    flex-direction: row;
  }

  :host(.listed) .results-card .results-card-stack-extra {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    align-content: center;
  }

  :host(.listed) .results-card .results-card-stack-data {
    flex-direction: row;
  }
}
