.example {
  border: 1px solid rgba(var(--rgb-primary), 0.2);
  border-radius: var(--br-sm);
  padding: 2em;
}

pre {
  line-height: 1.5;
}

h2 {
  font-weight: 600;
  margin-bottom: 1.5em;
}

.page-info {
  font-family: var(--alternative-font);
  line-height: 1.7;
  margin: 1em 0 2em;
}

.table-wrap {
  margin-top: 2em;
}

.app-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2rem;
  background: transparent;
  overflow: hidden;
  margin: 1em 0;
  border-spacing: 0;
}

.app-table .is-header {
  display: none;
}

.app-table th,
.app-table td {
  margin: 0.5em 1em;
  text-align: left;
}

.app-table th {
  display: none;
}

.app-table td {
  display: block;
  font-weight: 500;
  font-size: 0.9rem;
}

.app-table td:first-child {
  padding-top: 0.5em;
}

.app-table td:last-child {
  padding-bottom: 0.5em;
}

.app-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 5.5em;
  display: inline-block;
  line-height: 1.5;
}

.app-table th,
.app-table td:before {
  color: rgba(var(--rgb-primary), 0.5);
}

.app-table tr {
  border: 1px solid rgba(var(--rgb-primary), 0.08);
  border-radius: var(--br-md);
}

@media (min-width: 100em) {
  .app-table {
    display: table;
  }

  .app-table .is-header {
    display: table-row;
  }
  .app-table th {
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(var(--rgb-primary), 0.1);
    line-height: 1.5;
    vertical-align: bottom;
  }

  .app-table th,
  .app-table td {
    padding: 1em 2em;
  }

  .app-table th,
  .app-table td {
    display: table-cell;
  }

  .app-table td {
    position: relative;
    padding: 1.5em 2em;
    vertical-align: middle;
    line-height: 1.5;
  }
  .app-table th:first-child,
  .app-table td:first-child {
    padding-left: 1em;
  }

  .app-table td:first-child {
    padding-top: 1.5em;
  }
  .app-table th:last-child,
  .app-table td:last-child {
    padding-right: 1em;
  }

  .app-table td:last-child {
    padding-bottom: 1.5em;
  }

  .app-table td:before {
    display: none;
  }

  .app-table tr:hover {
    background-color: rgba(var(--rgb-primary), 0.03);
  }

  .app-table td:hover:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(var(--rgb-primary), 0.03);
    z-index: -1;
  }
}

@media (min-width: 120em) {
  .container {
    display: grid;
    grid-template-columns: 60vw 1fr;
    column-gap: 0;
  }

  .container > * {
    grid-column: 1;
  }
}
