.container {
  display: flex;
  flex-direction: column;
}

.company-header {
  display: flex;
  flex-wrap: wrap;
  --modifier: calc(40rem - 100%);
}

.company-header > div {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
}

.is-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: inherit;
}

.company-image {
  width: 200px;
}

.company-name {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 0.3em;
  color: rgba(var(--rgb-primary), 0.5);
}

.company-user-email {
  font-family: var(--alternative-font);
}

.company-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.is-company-data {
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  justify-content: center;
  align-items: center;
}

.company-action {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-action button {
  margin-right: 0;
  margin-bottom: 1em;
}

.company-main-details {
  margin-top: 3em;
  margin-bottom: 5em;
  order: 1;
}

.company-details-grid,
.company-partners-grid,
.company-account-type-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 2rem;
}

.company-details-metadata {
  display: flex;
  margin-top: 2em;
  justify-content: flex-end;
  flex-direction: column;
}

.company-details-metadata .tags {
  flex-wrap: nowrap;
}

.company-details-metadata > div {
  margin-left: 1.5em;
}

.company-partners,
.company-account-type {
  margin-top: 2.5em;
}

.is-card-header {
  display: flex;
  align-items: baseline;
  cursor: pointer;
}

.is-card-header h2 {
  padding-right: 0.6em;
}

.is-card-header span {
  transition: all 0.4s ease;
}

.is-card-header span.rotate {
  transform: rotateZ(180deg);
}

.close-actions {
  margin-top: 1.7em;
  margin-bottom: 1.5em;
}

.close-actions button {
  width: 100%;
}

.company-action button.hide {
  display: none;
}

.actions-wrapper {
  background-color: rgba(var(--rgb-primary), 0.025);
  padding: 0;
  order: 0;
}

.alt-top {
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.alt-company {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

.areas-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5em;
}

.is-area {
  margin: 0 1em 1em 0;
  background-color: rgb(97 97 97 / 20%);
  display: flex;
  justify-content:center;
  padding: 1em 1.5em;
  border-radius: var(--br-xs);
  box-shadow: var(--shadow);
}

.is-area-icon {
  padding: 0 .7em;
}


@media (min-width: 48em) {
  .container {
    flex-direction: column;
  }

  .company-image {
    width: 250px;
  }

  .company-details-metadata {
    flex-direction: row;
  }

  .company-details-metadata .tags {
    flex-wrap: wrap;
  }

  .is-company-data {
    padding: 0 3em;
    align-items: flex-start;
  }

  .company-action {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .company-action button {
    margin-right: 1.5em;
  }

  .is-company {
    max-width: 250px;
  }

  .container.aside {
    padding-right: clamp(1.5em, 4vw, 7em);
  }

  .actions-wrapper {
    padding: 0 1.5em;
  }
}

@media (min-width: 120em) {
  .container {
    display: grid;
    grid-template-columns: 60vw 1fr;
    column-gap: 2em;
  }

  .container > * {
    grid-column: 1;
  }

  .container .actions-wrapper {
    grid-column: 2;
    grid-row: 1;
    grid-row-end: none;
  }

  .container.aside {
    padding-right: 0;
    grid-template-rows: 86px 214px 1fr;
  }
}
