<div class="container" [ngClass]="{ aside: showActions }">
  <app-header [title]="'Company Details'"></app-header>
  <!-- company header area -->
  <div class="company-header" style="display: none">
    <div class="is-company">
      <div class="company-image">
        <img
          src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
          alt="company logo"
        />
      </div>
      <div class="company-status">
        <span class="tag is-primary">Active</span>
      </div>
    </div>
    <div class="is-company-data">
      <div class="company-name">Company A</div>
      <div class="company-user-email">usertest@company.com</div>
      <div class="company-action">
        <button
          mat-raised-button
          color="primary"
          [ngClass]="{ hide: showActions }"
          (click)="toggleActions()"
        >
          View Company Actions
        </button>
        <button mat-raised-button color="accent">Edit</button>
      </div>
    </div>
  </div>
  <!-- alternative company header -->
  <div
    class="company-header-alt"
    [ngClass]="expanded ? 'is-expanded' : 'not-expanded'"
  >
    <div class="is-company" [@isFade]="expanded">
      <div class="company-image">
        <img
          src="https://www.freepnglogos.com/uploads/company-logo-png/company-logo-transparent-png-19.png"
          alt="company logo"
        />
      </div>
      <div class="company-status">
        <span class="tag is-primary">Active</span>
      </div>
    </div>
    <div class="alt-top" [@isFade]="expanded">
      <div class="alt-company">
        <div class="company-name">Company A</div>
        <div class="company-user-email">usertest@company.com</div>
      </div>
      <div class="company-edit">
        <button mat-raised-button color="primary">Edit</button>
      </div>
    </div>
    <div class="alt-bottom">
      <!-- new company area -->
      <div class="company-area-wrap">
        <app-company-area
          *ngFor="let area of areas | async | slice: 0:show; let i = index"
          [area]="area"
          [show]="show"
          [i]="i"
          [areas]="areas"
          (moreAreas)="onMoreAreas($event)"
          (lessAreas)="onLessAreas($event)"
        ></app-company-area>
      </div>
    </div>
  </div>
  <!-- details area -->
  <div class="company-main-details">
    <div class="is-card">
      <div class="company-details">
        <div class="is-card-header">
          <h2>Details</h2>
        </div>
        <div class="is-card-content">
          <div class="company-details-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Entity Name</mat-label>
              <input matInput value="MCH, SA - Covilhã" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Entity Nickname</mat-label>
              <input matInput value="CNT Covilha" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>VAT Number</mat-label>
              <input matInput value="0" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Capital Value</mat-label>
              <input matInput value="0" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Commercial Record</mat-label>
              <input matInput value="0" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Commercial Record Office</mat-label>
              <input matInput value="0" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>GLN</mat-label>
              <input matInput value="5600000000472" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Fiscal Type</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Address Line</mat-label>
              <input matInput value="Eixo TCT (Junto à Escola C+S)" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Country</mat-label>
              <input matInput value=" Portugal" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput value="Covilhã" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Zip Code</mat-label>
              <input matInput value="6200" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Zip Area</mat-label>
              <input matInput value="Covilhã" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Fax</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Website</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Language</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
          </div>
          <div class="company-details-metadata">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-light">Creation Date</span>
                <span class="tag is-primary">13/04/2021 13:54:13</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-light">Changing Date</span>
                <span class="tag is-warning">23/02/2021 10:54:55</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-light">Author</span>
                <span class="tag is-info">J Doe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="company-partners">
        <div class="is-card-header" (click)="toggle('partners')">
          <h2>Data Partners</h2>
          <span [ngClass]="{ 'fa-rotate-180': isShown['partners'] }"
            ><i class="fal fa-chevron-down"></i
          ></span>
        </div>
        <div class="is-card-content" *ngIf="isShown['partners']" @expandable>
          <div class="company-partners-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Finishing Partner</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>OCR Partner</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Notification Email Sender</mat-label>
              <input matInput value="-" disabled />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="company-account-type">
        <div class="is-card-header" (click)="toggle('type')">
          <h2>Account type</h2>
          <span [ngClass]="{ 'fa-rotate-180': isShown['type'] }"
            ><i class="fal fa-chevron-down"></i
          ></span>
        </div>
        <div class="is-card-content" *ngIf="isShown['type']" @expandable>
          <div class="company-account-type-grid">
            <mat-form-field class="example-full-width">
              <mat-label>Code</mat-label>
              <input matInput value="5600000000472" disabled />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Account Type</mat-label>
              <input matInput value="List-AccountType.Restricted" disabled />
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox class="example-margin"
              >Available to discover</mat-checkbox
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- company actions -->
  <div class="actions-wrapper" *ngIf="showActions" @classStagger>
    <div class="close-actions child">
      <button mat-raised-button color="primary" (click)="toggleActions()">
        close Actions
      </button>
    </div>
    <div class="actions-list">
      <app-company-actions
        *ngFor="let action of actions"
        [action]="action"
        class="child"
      ></app-company-actions>
    </div>
  </div>
</div>
